{% load static %}
<link rel="stylesheet" href="/static/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
<link rel="stylesheet" href="/static/bootstrap/3.3.7/bootstrap.min.css"/>
<link rel="stylesheet" href="/static/xterm/3.14.5/xterm.min.css"/>
<script>
    function checkwindow() {
        event.returnValue = false;
    }
</script>
<style>
    body {
        background-color: black
    }

    .terminal-window {
        background-color: #2f4050;
        width: 100%;
        color: white;
        line-height: 25px;

        font-size: 18px;
        padding: 10px 0 10px 10px
    }

    .containers select, .containers option {
        width: 100px;
        height: 25px;
        font-size: 18px;
        color: #2F4056;
        text-overflow: ellipsis;
        outline: none;
    }
</style>
<div class="terminal-window">
    <div class="containers">
        Pod名称：{{ connect.pod_name }}
        容器：
        <select name="container_name" id="containerSelect">
            {% for c in connect.containers %}
                <option value="{{ c }}">{{ c }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div id="terminal">
</div>
<script src="/static/layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="/static/layuimini/lib/layui-v2.5.5/layui.js"></script>
<script src="/static/bootstrap/3.3.7/bootstrap.min.js"></script>
<script src="/static/bootbox/5.4.0/bootbox.min.js"></script>
<script src="/static/xterm/3.14.5/xterm.min.js"></script>
<script src="/static/zmodem/zmodem.devel.js"></script>
<script>
    function get_connect_info() {
        var hostname = '{{ connect.hostname }}'
        var namespace = '{{ connect.namespace }}';
        var pod_name = '{{ connect.pod_name }}';
        var container = document.getElementById('containerSelect').value;
        var username = '{{ connect.username }}'

        var connect_info = 'hostname=' + hostname +'&namespace=' + namespace + '&pod_name=' + pod_name + '&container=' + container + '&username=' + username;
        return connect_info
    }

    function get_term_size() {
        var init_width = 9;
        var init_height = 20;

        var windows_width = $(window).width();
        var windows_height = $(window).height();

        return {
            cols: Math.floor(windows_width / init_width),
            rows: Math.floor(windows_height / init_height),
        }
    }

    var cols = get_term_size().cols;
    var rows = get_term_size().rows;
    var connect_info = get_connect_info();
    var term = new Terminal({
        cols: cols,
        rows: rows,
        useStyle: true,
        cursorBlink: true
    });
    protocol = (location.protocol === 'https:') ? 'wss://' : 'ws://';
    socketURL = protocol + location.hostname + ((location.port) ? (':' + location.port) : '') +
        '/webssh/pod.html?' + connect_info + '&width=' + cols + '&height=' + rows;

    var sock;
    sock = new WebSocket(socketURL);

    sock.addEventListener('open', function () {
        term.open(document.getElementById('terminal'));
        term.focus();
        $("body").attr("onbeforeunload", 'checkwindow()'); //增加刷新关闭提示属性
    });
    var message = {'status': 0, 'data': null, 'cols': null, 'rows': null};
    //打开websocket连接，并打开终端
    sock.onopen = function () {
        // 向服务器端发送数据
        term.onData(function (data) {
            message['status'] = 0;
            message['data'] = data;
            var send_data = JSON.stringify(message);
            sock.send(send_data)
        });

        sock.onerror = function (event) {
        };
        /*
        //读取服务器发送的数据并写入web终端
        sock.onmessage = function (event) {
            term.write(event.data);
        };
                */
        // 读取服务器端发送的数据并写入 web 终端
        sock.addEventListener('message', function (recv) {
            term.write(recv.data)
            if (typeof (recv.data) === 'string') {
                var data = JSON.parse(recv.data);
                var message = data.message;
                var status = data.status;
                if (status === 0) {
                    term.write(message)
                } else {
                    //window.location.reload() 端口连接后刷新页面
                    //term.clear()
                    term.write(message);
                    $("body").removeAttr("onbeforeunload"); //删除刷新关闭提示属性

                    //$(document).keyup(function(event){	// 监听回车按键事件
                    //	if(event.keyCode == 13){
                    //window.location.reload();
                    //	}
                    //});
                    //term.dispose()
                    //$('#django-webssh-terminal').addClass('hide');
                    //$('#form').removeClass('hide');
                }
            } else {
                zsentry.consume(recv.data);
            }
        });
        // 关闭websocket
        sock.onclose = function (event) {
            term.write('\n\r\x1B[1;3;31m连接关闭！\x1B[0m');
        };
    };

    function uploadFile(zsession) {
        let uploadHtml = "<div>" +
            "<label class='upload-area' style='width:100%;text-align:center;' for='fupload'>" +
            "<input id='fupload' name='fupload' type='file' style='display:none;' multiple='true'>" +
            "<i class='fa fa-cloud-upload fa-3x'></i>" +
            "<br />" +
            "点击选择文件" +
            "</label>" +
            "<br />" +
            "<span style='margin-left:5px !important;' id='fileList'></span>" +
            "</div><div class='clearfix'></div>";

        let upload_dialog = bootbox.dialog({
            message: uploadHtml,
            title: "上传文件",
            buttons: {
                cancel: {
                    label: '关闭',
                    className: 'btn-default',
                    callback: function (res) {
                        try {
                            // zsession 每 5s 发送一个 ZACK 包，5s 后会出现提示最后一个包是 ”ZACK“ 无法正常关闭
                            // 这里直接设置 _last_header_name 为 ZRINIT，就可以强制关闭了
                            zsession._last_header_name = "ZRINIT";
                            zsession.close();
                        } catch (e) {
                        }
                    }
                },
            },
            closeButton: false,
        });

        function hideModal() {
            upload_dialog.modal('hide');
        }

        let file_el = document.getElementById("fupload");

        return new Promise((res) => {
            file_el.onchange = function (e) {
                let files_obj = file_el.files;
                hideModal();
                Zmodem.Browser.send_files(zsession, files_obj, {
                        on_offer_response(obj, xfer) {
                            if (xfer) {
                                // term.write("\r\n");
                            } else {
                                // term.write("\r\n" + obj.name + " was upload skipped");
                                term.write(obj.name + " was upload skipped\r\n");
                                //socket.send(JSON.stringify({ type: "ignore", data: utoa("\r\n" + obj.name + " was upload skipped\r\n") }));
                            }
                        },
                        on_progress(obj, xfer) {
                            updateProgress(xfer);
                        },
                        on_file_complete(obj) {
                            //socket.send(JSON.stringify({ type: "ignore", data: utoa("\r\n" + obj.name + " was upload success\r\n") }));
                            term.write("\r\n");
                        },
                    }
                ).then(zsession.close.bind(zsession), console.error.bind(console)
                ).then(() => {
                    res();
                    // term.write("\r\n");
                });
            };
        });
    }

    function saveFile(xfer, buffer) {
        return Zmodem.Browser.save_to_disk(buffer, xfer.get_details().name);
    }

    function updateProgress(xfer) {
        let detail = xfer.get_details();
        let name = detail.name;
        let total = detail.size;
        let percent;
        if (total === 0) {
            percent = 100
        } else {
            percent = Math.round(xfer._file_offset / total * 100);
        }

        term.write("\r" + name + ": " + total + " " + xfer._file_offset + " " + percent + "%    ");
    }

    function downloadFile(zsession) {
        zsession.on("offer", function (xfer) {
            function on_form_submit() {
                let FILE_BUFFER = [];
                xfer.on("input", (payload) => {
                    updateProgress(xfer);
                    FILE_BUFFER.push(new Uint8Array(payload));
                });

                xfer.accept().then(
                    () => {
                        saveFile(xfer, FILE_BUFFER);
                        term.write("\r\n");
                        //socket.send(JSON.stringify({ type: "ignore", data: utoa("\r\n" + xfer.get_details().name + " was download success\r\n") }));
                    },
                    console.error.bind(console)
                );
            }

            on_form_submit();

        });

        let promise = new Promise((res) => {
            zsession.on("session_end", () => {
                res();
            });
        });

        zsession.start();
        return promise;
    }

    var zsentry = new Zmodem.Sentry({
        to_terminal: function (octets) {
        },  //i.e. send to the terminal

        on_detect: function (detection) {
            let zsession = detection.confirm();
            let promise;
            if (zsession.type === "receive") {
                promise = downloadFile(zsession);
            } else {
                promise = uploadFile(zsession);
            }
            promise.catch(console.error.bind(console)).then(() => {
                //
            });
        },

        on_retract: function () {
        },

        sender: function (octets) {
            sock.send(new Uint8Array(octets))
        },
    });

    $(window).resize(function () {
        var cols = get_term_size().cols;
        var rows = get_term_size().rows;
        let send_data = JSON.stringify({'status': '1', 'cols': cols, 'rows': rows});
        sock.send(send_data);
        term.resize(cols, rows)
    })
</script>