<style>
    .layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {
        height: 34px;
        line-height: 34px;
        padding: 0 8px;
    }
</style>
<body>
<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">
        <div>
            <div class="layui-btn-group">
                <button class="layui-btn" id="btn-expand">全部展开</button>
                <button class="layui-btn layui-btn-normal" id="btn-fold">全部折叠</button>
                <button class="layui-btn layui-btn-danger" id="add_menu">新建菜单</button>
            </div>
            {% csrf_token %}
            <table id="munu-table" class="layui-table" lay-filter="munu-table"></table>
        </div>
    </div>
</div>
<!-- 操作列 -->
<script type="text/html" id="auth-state">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['table', 'treetable', 'miniPage'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var treetable = layui.treetable;
        miniPage = layui.miniPage;
        // 渲染表格
        layer.load(2);
        treetable.render({
            id: 'testReload',
            treeColIndex: 1,
            treeSpid: -1,
            treeIdName: 'authorityId',
            treePidName: 'parentId',
            elem: '#munu-table',
            url: '{% url "setting:menu_set" %}',
            page: false,
            cols: [[
                {type: 'numbers'},
                {field: 'authorityName', minWidth: 200, title: '菜单名称'},
                {field: 'menuIcon', title: '菜单图标'},
                {field: 'menuUrl', title: '菜单url'},
                {field: 'orderNumber', width: 80, align: 'center', title: '排序'},
                {
                    field: 'parentId', width: 100, align: 'center', templet: function (d) {
                        if (d.parentId == -1) {
                            return '<span class="layui-badge">顶部菜单</span>';
                        } else {
                            return '<span class="layui-badge layui-bg-blue">左侧菜单</span>';
                        }
                    }, title: '类型'
                },
                {field: 'status', width: 80, align: 'center', title: '状态'},
                {field: 'target', width: 80, align: 'center', title: '跳转'},
                {templet: '#auth-state', width: 120, align: 'center', title: '操作'}
            ]],
            done: function () {
                layer.closeAll('loading');
            }
        });

        $('#btn-expand').click(function () {
            treetable.expandAll('#munu-table');
        });

        $('#btn-fold').click(function () {
            treetable.foldAll('#munu-table');
        });
        $('#add_menu').click(function () {
            var content = miniPage.getHrefContent('{% url "setting:add_menu" %}');
            var index = layer.open({
                title: '新建菜单',
                type: 1,
                shade: 0.2,
                shadeClose: true,
                area: '800px',
                offset: 'auto',
                content: content,
            });
            $(window).on("resize", function () {
                layer.full(index);
            });
        });

        //监听工具条
        table.on('tool(munu-table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'del') {
                csrf_token = $('[name="csrfmiddlewaretoken"]').val();
                layer.confirm('是否确认删除菜单', {
                    btn: ['确认', '关闭'] //按钮
                }, function (index, layero) {
                    $.ajax({
                        url: "{% url "setting:menu" %}",
                        type: "post",
                        data: {"id": data.id},
                        headers: {"X-CSRFToken": csrf_token},
                        success: function (res) {
                            if (res.code === 0) {
                                layer.msg(res.msg, {icon: 6});
                                layer.close(index);
                            } else {
                                layer.msg(res.msg, {icon: 6});
                                layer.close(index);
                            }
                        }
                    });
                });
            } else if (layEvent === 'edit') {
                var content = miniPage.getHrefContent('{% url "setting:edit_menu" %}?id=' + data.id);
                {#var openWH = miniPage.getOpenWidthHeight();#}
                var index = layer.open({
                    title: '修改菜单',
                    type: 1,
                    shade: 0.2,
                    shadeClose: true,
                    area: '800px',
                    offset: 'auto',
                    content: content,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }
        });
        return false;
    });
</script>
</body>
</html>