<style>
    .layui-form-label1 {
        float: left;
        display: block;
        padding: 9px 5.5px;
        /* width: 80px; */
        font-weight: 400;
        line-height: 20px;
        text-align: right;
    }

    .layui-form-label2 {
        float: left;
        display: block;
        padding: 9px 15px;
        width: 80px;
        font-weight: 400;
        line-height: 20px;
        text-align: right;
    }

    .layui-form-item .layui-input-inline1 {
        float: left;
        width: 190px;
    }
</style>
<div class="layui-card-body">
    <div class="layui-form" lay-filter="example">
        {% csrf_token %}
        <div class="layui-row layui-col-space10 layui-form-item">
            <div class="layui-col-lg6">
                <label class="layui-form-label2">存储类型：</label>
                <div class="layui-input-block">
                    <select name="storage_class" lay-verify="required" placeholder="" lay-search="">
                        <option value=""></option>
                        <optgroup label="单点存储(适合非核心业务)">
                            <option value="nfs">NFS</option>
                        </optgroup>
                        <optgroup label="分布式存储(暂不支持)">
                            <option value="cephfs">CephFS</option>
                            <option value="cephrbd">CephRBD</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="layui-col-lg6">
                <label class="layui-form-label2">服务器IP：</label>
                <div class="layui-input-block">
                    <select name="server_ip" lay-verify="required" placeholder="" lay-search="">
                    <option value="">直接选择或搜索选择</option>
                    <option value="192.168.0.11">192.168.0.11</option>
                    <option value="192.168.0.12">192.168.0.12</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label2">PV名称：</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" placeholder="请输入PV名称" value=""
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">存储容量：</label>
            <div class="layui-input-block">
                <input type="radio" name="capacity" value="1Gi" title="1Gi" checked="">
                <input type="radio" name="capacity" value="5Gi" title="5Gi">
                <input type="radio" name="capacity" value="10Gi" title="10Gi">
                <input type="radio" name="capacity" value="20Gi" title="20Gi">
                <input type="radio" name="capacity" title="自定义" disabled="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">访问模式：</label>
            <div class="layui-input-block">
                <input type="radio" name="access_mode" value="ReadWriteMany" title="多节点读写" checked="">
                <input type="radio" name="access_mode" value="ReadOnlyMany" title="多节点只读">
                <input type="radio" name="access_mode" value="ReadWriteOnce" title="单节点读写">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label2">挂载路径：</label>
            <div class="layui-input-block">
                <input type="text" name="mount_path" lay-verify="required" placeholder="示例：pv0001"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item ">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">立即提交
                </button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'table'], function () {
        var form = layui.form,
            layer = layui.layer,
            table = layui.table,
            $ = layui.$;

        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();
        // 当前弹出层，防止ID被覆盖
        var parentIndex = layer.index;
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            data = data.field
            alert(JSON.stringify(data))
            layer.confirm('是否确认添加', {
                btn: ['确认', '关闭'] //按钮
            }, function (index, layero) {
                $.ajax({
                    url: "{% url "k8s_api:get_pv" %}",
                    type: "post",
                    data: data,
                    success: function (result) {
                        console.log(result);
                        if (result.code === 0) {
                            // 修改完成后,本地直接更新数据,这样就无需刷新一次了 obj.update({zone: zone});
                            layer.msg(result.msg, {icon: 6});
                            parent.layui.table.reload("testReload");
                            layer.close(index);
                            layer.close(parentIndex);
                        } else {
                            layer.msg(result.msg, {icon: 6});
                            parent.layui.table.reload("testReload");
                            layer.close(index);
                            layer.close(parentIndex);
                        }
                    }
                });
            });
        });
    });
</script>