<div class="layui-form" lay-filter="example">
    {% csrf_token %}
    <div id="json-edit" style="height: 380px;width:99%;">
    </div>
    <div class="layui-col-lg12" style="margin-top: 10px">
        <div class="layui-col-lg8">
            <blockquote class="layui-elem-quote">此操作相当于：kubectl apply -f spec.yaml</blockquote>
        </div>
        <div class="layui-col-lg4" style="background-color: #f2f2f2;height: 51.6px; text-align: center !important">
            <button type="submit" class="layui-btn layui-btn-normal" style="margin-top: 6.8px" lay-submit
                    lay-filter="saveBtn">立即提交
            </button>
        </div>
    </div>
</div>
<script src="/static/layuimini/js/lay-module/ace/ace.js" type="text/javascript" charset="utf-8"></script>

<script>
    var yaml = ace.edit("json-edit")
    //设置编辑器样式，对应theme-*.js文件
    yaml.setTheme("ace/theme/chrome");
    //设置代码语言，对应mode-*.js文件
    yaml.session.setMode("ace/mode/json");
    //设置打印线是否显示
    yaml.setShowPrintMargin(false);
    //字体大小
    yaml.setFontSize(16);
    //自动换行
    yaml.setOption("wrap", true)
    yaml.setValue("");

    layui.use(['layer', 'form'], function () {
        var $ = layui.jquery;
        form = layui.form;
        layer = layui.layer;  // 获取到使用的组件

        // 当前弹出层，防止ID被覆盖
        var parentIndex = layer.index;
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            data = data.field
            data['hostname'] = "{{ hostname }}"
            data['namespace'] = "{{ namespace }}"
            data['resource'] = "{{ resource }}"
            data['name'] = "{{ name }}"
            data['types'] = "{{ types }}"
            data['json'] = yaml.getValue();
            console.log(data)
            layer.confirm('是否确认添加', {
                btn: ['确认', '关闭'] //按钮
            }, function (index, layero) {
                $.ajax({
                    url: "{% url "k8s_api:yaml_add" %}",
                    type: "post",
                    data: data,
                    success: function (res) {
                        if (res.code === 0) {
                            layer.msg(res.msg, {icon: 6});
                            layer.close(parentIndex);
                        } else {
                            layer.msg(res.msg, {icon: 5});
                            layer.close(parentIndex);
                        }
                    }
                });
            });
        });
    });
</script>